@import url(https://fonts.googleapis.com/css?family=Varela+Round);
.container{
    margin: 5%;
    padding: 5%;
    font-family: 'Varela Round', sans-serif;
    width:90%;
}
.box {
    margin: 5%;
    padding: 5%;
    font-family: 'Varela Round', sans-serif;
}
.box-con{
    margin:1%;
    padding:1%;
    font-family: 'Varela Round', sans-serif;
}
/*$widths
***********************/
.w-1-1 {
    width: 100%
}

.w-1-2 {
    width: 50%
}

.w-1-3 {
    width: 33.3%
}

.w-1-4 {
    width: 25%
}

.w-2-3 {
    width: 66.6%
}

.w-3-4 {
    width: 75%
}

.w-1-5 {
    width: 20%
}

.w-2-5 {
    width: 40%
}

.w-3-5 {
    width: 60%
}

.w-4-5 {
    width: 80%
}

.ta {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

.grid {
    margin-left: -24px;
}

.grid-item {
    float: left;
    padding-left: 24px;
}

/*$colors
****************************/
.box-base {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border: solid 1px #ccc;
    border: solid 1px rgba(0, 0, 0, 0.3);
    outline: 0;
}

.box-accent {
    background-color: #E3E3E3;
    color: #999999;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border: solid 1px #ccc;
    border: solid 1px rgba(0, 0, 0, 0.3);
    outline: 0;
}

.box-pop {
    background: #F3F3F3;
    color: #7E7E7E;
}

.br-l {
    border-radius: 24px;
}

.br-s {
    border-radius: 12px;
}

/*$slides
***************************/
.wsl {
    width: 200px;
    height: 100px;
    -webkit-transition: width 2s;
    transition: width 2s;
     overflow: hidden;
}

.wsl:hover {
    width: 400px;
    height:300px;
    text-align:center;
    margin:0 auto;
    margin-top:0%;
}
.hsl {
    width: 100px;
    height: 100px;
    -webkit-transition: width 10s;
    transition: height 5s;
     overflow: hidden;
}

.hsl:hover {
    height: 360px;
    
}

.hsl-l {
    height: 100px;
    -webkit-transition: height 10s;
    transition: height 5s;
    transition: margin 2s linear 1s;
     overflow: hidden;
}
.hsl-t{
    transition: bottom 2s linear 1s;
}
.hsl-t:hover{
 height: 100%;
    vertical-align: bottom;
}
.hsl-l:hover {
    height: 300px;
    margin-top:100px;
    bottom:0;
    
}
.hcontent{
    overflow-y:5px;
    padding-top:28px;
    height:200px;
}
.rwcontent{
    float:left;
    overflow-x:5px;
    padding-left:115px;
    width:200px;  
}
.lwcontent{
    float:right;
    overflow-x:-5px;
    margin-right:85px;
    width:200px;  
}
.box-link{
    float:left;
    margin-left:55px;
}
.box-s{
    max-width:400px;
    width:110px;
}
.box-fl{
    left:0px;
    float:left;
    position:static;

}
.box-fr{
    right:0px;
    float:right;
    position:static;

}

/*$links
*************************/
.links a{
    color: #7E7E7E;
    text-decoration: none;
}

a:link {
    color: #7E7E7E;
}

/* visited link */
a:visited {
    color: #7E7E7E;
}

/* mouse over link */
a:hover {
    color: #7E7E7E;
}

/* selected link */
a:active {
    color: #7E7E7E;
}
.box-m{
    margin-top:19%;
}
.ef{
    text-decoration: underline;
    font-weight: bold;
}