{{define "header"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>BILL's site</title>

<!--   <link rel="stylesheet" href="../static/style.css" type="text/css"> -->
</head>
<style>
  @import url(https://fonts.googleapis.com/css?family=Varela+Round);
.container{
    margin: 5%;
    padding: 5%;
    font-family: 'Varela Round', sans-serif;
    width:90%;
}
.box {
    margin: 5%;
    padding: 5%;
    font-family: 'Varela Round', sans-serif;
}
.box-con{
    margin:1%;
    padding:1%;
    font-family: 'Varela Round', sans-serif;
}
/*$widths
***********************/
.w-1-1 {
    width: 100%
}

.w-1-2 {
    width: 50%
}

.w-1-3 {
    width: 33.3%
}
.w-1-3-0 {
    width: 30%
}
.w-1-4 {
    width: 25%
}

.w-2-3 {
    width: 66.6%
}

.w-3-4 {
    width: 75%
}

.w-1-5 {
    width: 20%
}

.w-2-5 {
    width: 40%
}

.w-3-5 {
    width: 60%
}

.w-4-5 {
    width: 80%
}

.ta {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

.grid {
    margin-left: -24px;
}

.grid-item {
    float: left;
    padding-left: 24px;
}

/*$colors
****************************/
.box-base {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border: solid 1px #ccc;
    border: solid 1px rgba(0, 0, 0, 0.3);
    outline: 0;
}

.box-accent {
    background-color: #E3E3E3;
    color: #999999;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border: solid 1px #ccc;
    border: solid 1px rgba(0, 0, 0, 0.3);
    outline: 0;
}

.box-pop {
    background: #F3F3F3;
    color: #7E7E7E;
}

.br-l {
    border-radius: 24px;
}

.br-s {
    border-radius: 12px;
}

/*$slides
***************************/
  .wsl-s {
    width: 200px;
    height: 100px;
    -webkit-transition: width 2s;
    transition: width 2s;
     overflow: hidden;
}

.wsl-s:hover {
    width: 77%;
    height: 33em;
    text-align:center;
    margin:0 auto;
    margin-top:0%;
}
.wsl {
    width: 200px;
    height: 100px;
    -webkit-transition: width 2s;
    transition: width 2s;
     overflow: hidden;
}

.wsl:hover {
    width: 77%;
    height: 69em;
    text-align:center;
    margin:0 auto;
    margin-top:0%;
}
  
.wsl-g3 {
    width: 200px;
    height: 100px;
    -webkit-transition: width 2s;
    transition: width 2s;
     overflow: hidden;
}

.wsl-g3:hover {
    width: 100%;
    height: 30em;
    text-align:center;
    margin:0 auto;
    margin-top:0%;
}
.hsl {
    width: 100px;
    height: 100px;
    -webkit-transition: width 10s;
    transition: height 5s;
     overflow: hidden;
}

.hsl:hover {
    height: 360px;
    
}

.hsl-l {
    height: 100px;
    -webkit-transition: height 10s;
    transition: height 5s;
    transition: margin 2s linear 1s;
     overflow: hidden;
}
.hsl-t{
    transition: bottom 2s linear 1s;
}
.hsl-t:hover{
 height: 100%;
    vertical-align: bottom;
}
.hsl-l:hover {
    height: 300px;
    margin-top:100px;
    bottom:0;
    
}
.hcontent{
    overflow-y:5px;
    padding-top:28px;
    height:200px;
}
.rwcontent{
    float:left;
    overflow-x:5px;
    width:100%;
  height:300px;
}
.lwcontent{
    float:right;
    overflow-x:-5px;
    margin-right:85px;
    width:200px;  
}
.box-link{
    float:left;
    margin-left:55px;
}
.box-s{
    max-width:400px;
    width:110px;
}
  .box-m{
    margin-bottom:4em;
  }
  .box-me{
    max-width:77%;
    width:110px;
}
  
.box-me-g3{
    max-width:100%;
    width:110px;
}
.box-fl{
    left:0px;
    float:left;
    position:static;

}
.box-fr{
    right:0px;
    float:right;
    position:static;

}

/*$links
*************************/
.links a{
    color: #7E7E7E;
    text-decoration: none;
}

a:link {
    color: #7E7E7E;
}

/* visited link */
a:visited {
    color: #7E7E7E;
}

/* mouse over link */
a:hover {
    color: #7E7E7E;
}

/* selected link */
a:active {
    color: #7E7E7E;
}
/* text style */
  .b{
    font-weight:bold;
  }
  
.ef{
    text-decoration: underline;
    font-weight: bold;
}
  
  .entry-content pre, .comment-content pre{
    border: 1px solid #ededed;
    color: #7E7E7E;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.714285714;
    margin: 24px 0;
    margin: 1.714285714rem 0;
    overflow: auto;
    padding: 24px;
    padding: 1.714285714rem;
    width:100%;
    text-align:left;
  }
   .entry-content-g3 pre, .comment-content-g3 pre{
  border: 1px solid #ededed;
    color: #7E7E7E;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-size: 0.507142857rem;
    line-height: 1.714285714;
    margin: 24px 0;
    margin: 1.714285714rem 0;
    overflow: auto;
    padding: 24px;
    padding: 0.1rem;
    width: 100%;
    text-align: left;
}
  .footers{
    position:fixed;
    bottom:1%;
  }
  
  /*extra */
  
/*changes */

.PR1change {
 background: #d5ccd961;
 color: white;
}

.PR1box {
 background: #a17b9e;
 color: white;
}

.PR2change {
 background: #3d00633d;
 color: white;
}

.PR2box {
 background: #a17b7b85;
 color: white;
}

.PR3change {
 background: #dce5dc;
 color: white;
}

.PR3box {
 background: #7b88a1b0;
 color: white;
}

.menu2 {
 background: black;
}

/*
appear
******************************/

.appears {
 display: block;
}

.nappears {
 display: none;
}

.none {
 display: none;
}

/*
formatting paragraph
******************************/

.para {
 text-align: justify;
 text-justify: inter-word;
}

.menu {}

.menu a:hover {
 /*when hovering turn background darkgrey*/
 background: #d3d3d382;
 color: #fff;
 transition: background 0.5s ease-in-out;
 border-radius: 2px;
 padding: 1%;
 box-shadow: 3px 1px 1px 1px #00000014;

}


/*
flex
******************************/

.cards {
 display: flex;
}

.card {
 margin: 0 5px;
 flex: 1 1 300px;
}

.cards {
 margin: 0 auto;
 max-width: 800px;
}

.cards {
 margin: 0 auto;
 max-width: 800px;
}

.card {
 background-color: #fff;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.card header {
 padding: 10px;
 background-color: rgb(41, 73, 130);
 color: #fff;
}

.card header h2 {
 font-size: 1.4rem;
 font-weight: normal;
 margin: 0;
 padding: 0;
}

.card .body {
 padding: 10px;
 font-size: .9rem;
 color: #757575;
}

/* Panel
#####################################*/

.stbox {

 width: 70%;
 height: 100px;
 background: #fffef2;


}

.gbox {
 display: none;
 width: 100px;
 height: 100px;
 background: #fffef2;
 transition: width 2s;
 transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
 opacity: 0;

}

.fbox {
 display: none;
 width: 100px;
 height: 100px;
 background: #fffef2;
 transition: width 2s;
 transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
 opacity: 0;

}

.pmenu a:hover {
 color: #000;
 transition: background 0.5s ease-in-out;
 border-radius: 2px;
 padding: 1%;
 border-bottom: 1px solid #333;
}
  </style>

{{end}}