

{{template "header"}}
<bodY class="container">
<div id="atf">
    <main>
       <center>
        <h1 class="box-l primary vh-l"></h1>
        
       <h2 class="primary box vh-l">Please have a look at my parts.</h2>
       
       <div class="grid">
       <div class="grid-item w-1-1">
       <!--<a class="box-s btn w-1-4 vh-m" href="/engine">Engine Parts<br><i class="icons fas fa-car"></i></a>-->
       <!--<a class="box-s btn w-1-4 vh-m" href="/eletrical">Eletrical Parts<br><i class="icons fas fa-car"></i></a>-->
       <!--<a class="box-s btn w-1-4 vh-m" href="/transmission">Transmission Parts<br><i class="icons fas fa-car"></i></a>-->
       <div class="box-s btn w-1-4 vh-s search" >show data<br><i class="icons fas fa-car"></i></div>
       
       
       </div>
       </div>
       <div class="tagName fl-l w-1-1"></div>
       
       
       <script>
    //send link down
		$(function() {
		$(".search").click(function() {
			console.log(location.hostname);
			console.log(document.domain);
			var data = [];
			var cache = {};
			var found = [];
			$.ajax({
				url: "https://bill2-zendrulat.c9users.io:8082/parts",
				dataType: "json",
				contentType: 'application/json; charset=utf-8',
				success: function(data) {
					console.log("sucess with data ", data);
				},
				error: function() {
				    
					console.log("error has occured with data ", data)
				}
			}).then(function(data) {
				
				var Parts = {Name:[], Material:[]};
				
				for (i = 1; i < 7; i++) { 
					
						Parts.Name = data[i]['Name'];
						Parts.Material = data[i]['Material'];
						Parts.Design = data[i]['Design'];
						Parts.Type = data[i]['Type'];
						Parts.ColorFinish = data[i]['ColorFinish'];
						Parts.ProductFit = data[i]['ProductFit'];
						Parts.QuantitySold = data[i]['QuantitySold'];
						Parts.AttachmentStyle = data[i]['AttachmentStyle'];
						Parts.Logo = data[i]['Logo'];
						Parts.PartNumber = data[i]['PartNumber'];
						Parts.Notes = data[i]['Notes'];
						Parts.Image = data[i]['Image'];
					
					$(".tagName").append(`
					<div class="grid fl-l w-1-4 pr-xs secondary primarywords rogers-frames">
				       <div class="fl-l grid-item w-1-1 box">
						       <div class=" box-s">Name</div>
						     <div class=" box-s">` + Parts.Name +`</div>
						     <div class=" box-s">Material</div>
						     <div class=" box-s">` + Parts.Material +`</div>
						     <div class=" box-s">Design</div>
						     <div class=" box-s">` + Parts.Design +`</div>
						     <div class=" box-s">Type</div>
						     <div class=" box-s">` + Parts.Type +`</div>
						     <div class=" box-s">ColorFinish</div>
						     <div class=" box-s">` + Parts.ColorFinish +`</div>
						     <div class=" box-s">ProductFit</div>
						     <div class=" box-s">` + Parts.ProductFit +`</div>
						     <div class=" box-s">AttachmentStyle</div>
						     <div class=" box-s">` + Parts.AttachmentStyle +`</div>
						     <div class=" box-s">Logo</div>
						     <div class=" box-s">` + Parts.Logo +`</div>
						     <div class=" box-s">PartNumber</div>
						     <div class=" box-s">` + Parts.PartNumber +`</div>
						     <div class=" box-s">Notes</div>
						     <div class=" box-s">` + Parts.Notes +`</div>
						     <div class=" box-s">Image</div>
						     <div class=" box-s"><img src="./static/img/` + Parts.Image +`"></div>
						    
						     <div class="space">&nbsp;</div>
			           </div>
			       </div>`);
					}
				
			});
		});
		});
     </script>  
     
    </center>
    </main>
</div>

</bodY>

{{template "footer"}}
