{{template "header"}}


<div class="container">
  <div class="box-con ta">
    Wecome My Go Site!

    <div class="box-fl hsl box-pop br-s  ta">
      <i class="fa fa-bookmark fa-3x"></i>
      <br/>Resources
      <p class="hcontent links"><a href="nouns.html">Nouns <br/><i class="fa fa-archive fa-3x"></i></a>
        <br/><a href="verb.html">Verbs <br/><i class="fa fa-bicycle fa-3x"></i></a>
        <br/>
        <a href="www.littlewebhut.com/">Adjectives<br/><i class="fa fa-heart fa-3x"></i></a>
      </p>
    </div>
    <div class="box-fr hsl box-pop br-s ta">
      <i class="fa fa-bookmark fa-3x"></i>
      <br/>types of Nouns
      <p class="hcontent links"><a href="">plural noun(s)<i class="fa fa-users fa-3x"></i></a>

      </p>
    </div>
  </div>
  <div class="grid">
    <div class="w-1-1 box-con ta">
      We take a simple approach to learning.
    </div>
    <center>
      <div class="w-1-1">
        <center>
          <div class="box-base box-con wsl br-l  box-s">
            <center class="box-m">Nouns</center>
            <div class="rwcontent">
              <p>
                <br/><i class="fa fa-male fa-3x"></i>person , <i class="fa fa-globe fa-3x"></i>place <i class="fa fa-circle-thin fa-3x"></i>thing
            </div>
          </div>



          <div class="w-1-1 ta container ">
            <center>
              <p>They are moving.</p>
              <i class="moving fa fa-male fa-3x"></i>
            </center>
          </div>
          <div class="w-1-1 ta container ">
            <center>
              <p>The different kinds of Nouns.</p><br/>
              <p>Plural Nouns.</p>
              <center><i class="create fa fa-male fa-3x"></i><i class="fa fa-male fa-3x"></i><i class="fa fa-male fa-3x"></i></center>
              <p>You will always need more.</p>

            </center>
          </div>



          {{template "footer"}}