

{{template "header"}}
<bodY class="container">
<div id="atf">
    <main>
       <center>
        
       
       
       <script>
    //send link down
		$(function() {
	    $(".search").click(function() {
	        console.log(location.hostname);
	        console.log(document.domain);
	        var data = [];
	        var cache = {};
	        var found = [];
	        $.ajax({
	            url: "https://bill2-zendrulat.c9users.io:8082/parts",
	            dataType: "json",
	            contentType: 'application/json; charset=utf-8',
	            success: function(data) {
	                console.log("sucess with data ", data);
	            },
	            error: function() {

	                console.log("error has occured with data ", data)
	            }
	        }).then(function(data) {
	            $.each(data, function(i, v) {
	                $("#tags").autocomplete({
	                    minLength: 4,

	                    source: function(request, response) {
	                        var term = request.term;
	                        if (term in cache) {
	                            response(cache[term]);
	                            return;
	                        }


	                        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
	                        var found = [];
	                        var matching = matcher.toString().replace(/\/\^/g, '');
	                        var matching2 = matching.replace(/\/i/g, '');

	                        if (matching2 === '') {
	                            $("#tag").html('<div id="tag"></div>');
	                        } else {
	                            for (var i = 0; i < data.length; i++) {
	                                if (data[i]['meta'] === matching2) {
	                                    found.push(data[i]['link']);
	                                }
	                            }
	                            for (var a = 0; a < found.length; a++) {
	                                $("#tag").append('<a href="https://' + found[a] + '">' + '<div class="box">' + found[a] + '</div></a><div class="space">&nbsp;</div>');
	                            }
	                        }


	                        console.log(found);
	                    }
	                });
	            });

	        });
	    });
	});
     </script>  
     
    </center>
    </main>
</div>

</bodY>

{{template "footer"}}
