


{{template "header"}}
<bodY class="container">
<div id="atf">
    <main>
       <center>
        <h1 class="box-l primary vh-l">Emblems Catalog </h1>
        
       
       <div class="grid">
       <div class="grid-item w-1-1">
       <a class="box-s btn w-1-4 vh-m" href="/engine">Engine Parts<br></a>
       <a class="box-s btn w-1-4 vh-m" href="/eletrical">Eletrical Parts<br></a>
       <a class="box-s btn w-1-4 vh-m" href="/transmission">Transmission Parts<br></a>
       <div class="w-1-1">&nbsp;</div>
       <div class="box-s btn w-1-4 vh-m search">show data<br><i class="icons fas fa-car"></i></div>
       </div>
       </div>
       
       
       
       
       
       
       
       
       
    </center>
    </main>
</div>

</bodY>











{{template "footer"}}
